//----------------- Font ------------------
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
$font_primary: 'Share Tech', sans-serif;

//----------------- Color ------------------
$clr_lightGrey: rgb(157, 157, 157);
$clr_darkGrey: rgb(89, 89, 89);
$clr_offBlack: rgb(29, 29, 29);
